**/.log
**/.DS_Store
**/node_modules
dist
.idea
**/.env

**/package-lock.json
!/yarn.lock
**/yarn-error.log
lerna-debug.log

# app files
**/node_modules
**/.cache
**/dist
**/storybook-static

# testing
coverage
cypress/report
cypress/screenshots
cypress/video
